<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 카메라 인터넷 읽쓰 -->
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <!-- 오토 포커스와 카메라 없으면 앱 설치 X -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        tools:targetApi="31">

        <!-- SplashActivity which is the entry point of the app -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"> <!-- Make sure to set android:exported="true" for apps targeting Android 12 and above -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity which will be started from SplashActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- No intent-filter here as it's not the direct entry point -->
        </activity>

        <!-- VoiceSettingsActivity for adjusting TTS settings -->
        <activity
            android:name=".VoiceSettingsActivity"
            android:exported="true"> <!-- As this activity might be started from other parts of the app -->
        </activity>

        <!-- TextToSpeechActivity for OCR and TTS features -->
        <activity
            android:name=".TextToSpeechActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>
